<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: headerinc"></th:block>
</head>
<body>

<!--Create a page to register a new user. -->
<div th:include="fragments/header :: loginheader"></div>

<div class="content">
    <h3>User Registration</h3>

    <!--A form to enter new user details. -->
    <div class="form">
        <form action ="#" th:action="@{/user/register}" th:object="${user}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <p>First Name: </p> <input type="text" th:field="*{firstname}"/>
            <p>Last Name: </p> <input type="text" th:field="*{lastname}"/>
            <p>Password: </p> <input type="text" th:field="*{password}"/>

            <input type="submit" value="Register" />
        </form>
    </div>

    <!--If there is no text in the fields, give an error. -->
    <div th:if="${message!=null}">
        <p/>
        <span th:text="${message}"/>
    </div>
</div>
</body>
</html>