<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="headerinc">
<title>WristWatch</title>
    <link href="../../../css/style.css" rel="stylesheet" type="text/css" />
</div>


<div th:fragment="header">
    <div class="header">
        <div class="logo">
            <ul>
                <li><a th:href="@{/}">WristWatch</a></li>
            </ul>
        </div>
    </div>
    <div class="nav">
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/watchbrand/all}">Brands</a></li>
        <li><a th:href="@{/watchbrand/search}">Search</a></li>
        <li><a th:href="@{/dashboard}">Dashboard</a></li>
        <li><a th:href="@{/location}">Location</a></li>
        <li><a th:href="@{/user/logout}">Logout</a></li>
    </ul>
    </div>
</div>

</html>