<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: headerinc"></th:block>
</head>
<body>

<div th:include="fragments/header :: header"></div>

<div class="content">
<!--<table>-->
    <!--<tr>-->
        <!--<th>Brand Name</th>-->
        <!--<th>Update</th>-->
        <!--<th>Delete</th>-->
    <!--</tr>-->
    <!--<tr th:each="watchBrand : ${watchBrands}">-->
        <!--<td th:text="${watchBrand.brandname}">Fin</td>-->
        <!--<td><a href="#" th:href="@{/watchbrand/update/}+${watchBrand.id}">Update</a></td>-->
        <!--<td><a href="#" th:href="@{/watchbrand/delete/}+${watchBrand.id}">Delete</a></td>-->
    <!--</tr>-->
<!--</table>-->


<div>
<ol>
    <li th:each="watchBrand : ${watchBrands}">
        <span th:text="${watchBrand.firstname}+ ' '"></span>
        <a href="#" th:href="@{/watchbrand/update/}+${watchBrand.id}">Update</a>
        <a href="#" th:href="@{/watchbrand/delete/}+${watchBrand.id}">Delete</a>
    </li>
</ol>
</div>

    <div class="form">
    <form action ="#" th:action="@{/watchbrand/addbrand}" th:object="${watchBrand}" method="post">
        <button type="submit">Add Brand</button>
    </form>
    </div>

</div>


</body>
</html>