<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: headerinc"></th:block>
</head>
<body>

<div th:include="fragments/header :: header"></div>
<div class="content">
    <div>
        <ol>
            <li th:each="watchbrand : ${watchbrand}">
                <span th:text="${watchbrand.brandname}">Rolex</span>
                <a href="#" th:href="@{/watchbrand/deletebrand/}+${watchbrand.id}">Delete</a>
            </li>
        </ol>
    </div>
</div>

<div class="form">
    <form action="#" th:action="@{/watchbrand/addbrand}" th:object="${watchbrand}" method="get">

        <button type="submit">Add Brand</button>
    </form>
</div>

</body>
</html>