<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: headerinc"></th:block>
</head>
<body>

<div th:include="fragments/header :: header"></div>
<div class="heading">
    <h3>Watch Brand Update</h3>
</div>
<div class="content">
<div class="form">
<form action ="#" th:action="@{/watchbrand/updatebrand}" th:object="${watchbrand}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Brand Name: </p> <input type="text" th:field="*{brandname}"/>

    <button type="submit">Update Brand</button>
</form>
</div>
</div>
</body>
</html>