<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: headerinc"></th:block>
</head>
<body>

<div th:include="fragments/header :: header"></div>
<div class="heading">
    <h3 th:each="watchbrand: ${watchbrand}" th:text="${watchbrand.brandname}"></h3>
</div>
<div class="content">
    <div>
        <ol>
            <li th:each="model : ${watchbrand.watchbrandModels}">
                <a href="#" th:href="@{/watchbrand/viewbrand/}+${model.id}" th:text="${model.modelname}"></a>
            </li>
        </ol>
    </div>


    <div class="form">
        <form action ="#" th:action="@{/watchbrandmodel/addmodel/}+${watchbrand.id}" method="get">

            <button type="submit">Add Brand Model</button>
        </form>
    </div>
</div>


</body>
</html>