<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: headerinc"></th:block>
</head>
<body>

<div th:include="fragments/header :: header"></div>
<div class="heading">
    <h3>Searh Watchbrand</h3>
</div>
<div class="content">

    <div class="form">
            <form th:action="@{/watchbrand/search}" th:object="${searchCriteria}" method="post">
                <p>Brand name: <input type="text" th:field="*{brandname}"/></p>

                <button type="submit">Search</button>
            </form>
    </div>

    <div>
        <ol>
            <li th:each="watchbrand : ${watchbrand}">
                <!--<span th:text="${watchbrand.brandname}">Rolex</span>-->
                <a href="#" th:href="@{/watchbrand/viewbrand/}+${watchbrand.id}" th:text="${watchbrand.brandname}"></a>
            </li>
        </ol>
    </div>

</div>

</body>
</html>