<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: headerinc"></th:block>
</head>
<body>

<!--Create a page to search for a watch brand. -->
<div th:include="fragments/header :: header"></div>
<div class="heading">
    <h3>Searh Watchbrand</h3>
</div>
<div class="content">

    <!--Create a form to search for a brand. -->
    <div class="form">
        <form th:action="@{/watchbrand/search}" th:object="${searchCriteria}" method="post">
            <p>Brand name: <input type="text" th:field="*{brandname}"/></p>

            <button type="submit">Search</button>
        </form>
    </div>

    <!--Create a div list to show the brand name with a link to the brands page. -->
    <div>
        <ol>
            <li th:each="watchbrand : ${watchbrand}">
                <a href="#" th:href="@{/watchbrand/viewbrand/}+${watchbrand.id}" th:text="${watchbrand.brandname}"></a>
            </li>
        </ol>
    </div>

</div>

</body>
</html>