<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: headerinc"></th:block>
</head>
<body>

<div th:include="fragments/header :: header"></div>
<div class="heading">
    <h3>Dashboard</h3>
</div>
<div class="content">
    <ul>

        <li><a th:href="@{/reports/createbrandreport}">Brand Report</a></li>
        <li><a th:href="@{/reports/createmodelreport}">Model Report</a></li>
        <li><a th:href="@{/reports/createuserreport}">User Report</a></li>

    </ul>
</div>
</body>
</html>