<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <title>Wrist Watch</title>
</head>
<body>

<p th:text="'Hello, '+${user.firstname}+'.'"> Welcome to WristWatch. A website built to allow you to search for watch brands and see their models, past and present. Click on 'Brands' in the navigation bar above, or use the search bar to search for a brand of your choosing.. </p>

<p><!--Welcome to WristWatch. A website built to allow you to search for watch brands and see their models, past and present. Click on Brands in the navigation bar above, or use the search bar to search for a brand of your choosing.--></p>
</body>
</html>