<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <title>Wrist Watch</title>
</head>
<body>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Password</th>
        <th>Action</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.firstname}">Fin</td>
        <td th:text="${user.lastname}">Pickford</td>
        <td th:text="${user.password}">test</td>
        <td><a href="#" th:href="@{/user/delete/}+${user.id}">Delete</a></td>
    </tr>
</table>


<div>
<ol>
    <li th:each="user : ${users}">
        <span th:text="${user.firstname}+ ' '+${user.lastname}+', '+${user.password}"></span>
        <a href="#" th:href="@{/user/delete/}+${user.id}">Delete</a>
    </li>
</ol>
</div>


</body>
</html>