<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: headerinc"></th:block>

    <style>
        #map {
            width: 100%;
            height: 400px;
            background-color: grey;
        }
    </style>
</head>
<body>

<div th:include="fragments/header :: header"></div>
<div class="heading">
    <h3>Location</h3>
</div>
<div class="content">

    <div id="map"></div>
    <script>
        var map, infoWindow;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'),
            latlngbounds = new google.maps.LatLngBounds(),

            {
                center: {lat: -34.397, lng: 150.644},
                zoom: 6
            });
//            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    map.setCenter(pos);
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }

        }

function getUserPosition()
{
    function itWorks(position)
    {
        latitude = position.coords.latitude;
        longitude = position.coords.longitude;
        console.log('latitude: '+latitude);
        console.log('longitude: '+longitude);
        userLatLng = new google.maps.LatLng({lat: latitude, lng: longitude});
        showMap(userLatLng);
        addMarker(userLatLng,"You");
        latLng = new google.maps.LatLng({lat: 53.643198, lng: -1.777089});
        addMarker(latLng,"WristWatch");
    }

    function itDoesntWork(error)
    {
        console.log('There is an error '+error);
    }
    navigator.geolocation.getCurrentPosition(itWorks, itDoesntWork);
}

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(position);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }

function init(){
    getUserPosition()
}

window.addEventListener("load",init,false);

function showMap(latLng){
    map = new google.maps.Map(document.getElementById('map'),
        {
            center: latLng,
            mapTypeId: google.maps.MapTypeId.MAP,
            zoom: 15,
            zoomControl: true,
            streetViewControl: true,
            streetViewControlOptions: {
                position: google.maps.ControlPosition.LEFT_TOP
            },
            fullscreenControl: true
        });
}

function addMarker(latLng, label){
    marker = new google.maps.Marker({
        position: latLng,
        map: map,
        label:label
    });
    latlngbounds.extend(latLng);
    map.setCenter(latlngbounds.getCenter());
    map.fitBounds(latlngbounds);
}
    </script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXzdeG8cem6O4cbG7Geyva1qisAUYMgsg&amp;callback=initMap">
    </script>

</div>
</body>
</html>