<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: headerinc"></th:block>
</head>
<body>

<div th:include="fragments/header :: header"></div>
<div class="heading">
    <h3>Add Brand Model</h3>
</div>
<div class="content">
    <div class="form">
        <form action="#" th:action="@{/watchbrandmodel/addmodel}" th:object="${watchbrandmodel}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <p>Model Name: </p> <input type="text" th:field="*{modelname}"/>
            <p>Model No: </p> <input type="text" th:field="*{modelno}"/>
            <p>Description: </p> <input type="text" th:field="*{description}"/>

            <button type="submit">Add Model</button>
        </form>
    </div>
</div>

</body>
</html>