<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: headerinc"></th:block>
</head>
<body>

<!--Create a page to show every watch brand model within the database. -->
<div th:include="fragments/header :: header"></div>
<div class="heading">
    <h3>All models</h3>
</div>
<div class="content">

    <!--Create a div to show each brand model in a list. -->
    <div>
        <ol>
            <li th:each="watchbrandmodel : ${watchbrandmodel}">
                <a href="#" th:href="@{/watchbrandmodel/viewmodel/}+${watchbrandmodel.id}" th:text="${watchbrandmodel.modelname}"></a>
            </li>
        </ol>
    </div>
</div>


</body>
</html>