<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: headerinc"></th:block>
</head>
<body>

<div th:include="fragments/header :: header"></div>
<div class="heading">
    <h3 th:each="watchbrandmodel: ${watchbrandmodel}" th:text="${watchbrandmodel.modelname}"></h3>
</div>
<div class="content">
    <div class="form">
        <form action="#" th:action="@{/watchbrandmodel/updatemodel}" th:object="${watchbrandmodel}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{watchbrand.id}"/>
            <p>Model Name: </p> <input type="text" th:field="*{modelname}"/>
            <p>Model No: </p> <input type="text" th:field="*{modelno}"/>
            <p>Description: </p> <input type="text" th:field="*{description}"/>
            <p>Case Size: </p> <input type="text" th:field="*{casesize}"/>
            <p>Dial Colour: </p> <input type="text" th:field="*{dialcolour}"/>
            <p>Movement: </p> <input type="text" th:field="*{movement}"/>
            <p>Price: </p> <input type="text" th:field="*{price}"/>

            <button type="submit" onclick="return confirm('Are you sure?')">Update Model</button>
        </form>
    </div>
</div>

</body>
</html>